.button {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
    border: solid 1px var(--color-neutral-200);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-m);
    cursor: pointer;
}

.normal {
    background-color: var(--color-white);
    border: solid 1px var(--color-neutral-200);
    border-top: 1px solid var(--color-neutral-100);
}

.main {
    background-color: var(--color-main);
    border: solid 1px var(--color-main);
    border-top: 1px solid var(--color-main);
    color: var(--color-white);
}

.primary {
    background-color: var(--color-blue-600);
    border: solid 1px var(--color-blue-500);
    border-top: 1px solid var(--color-blue-400);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-neutral-200);
    border: solid 1px var(--color-neutral-100);
    border-top: 1px solid var(--color-neutral-50);
}

.info {
    background-color: var(--color-indigo-800);
    border: solid 1px var(--color-indigo-600);
    border-top: 1px solid var(--color-indigo-500);
    color: var(--color-white);
}

.danger {
    background-color: var(--color-red-600);
    border: solid 1px var(--color-red-300);
    border-top: 1px solid var(--color-red-200);
    color: var(--color-white);
}