@import "tailwindcss";

@theme {
    --color-muted: var(--muted);
    --color-main: var(--main);
    --shadow-s:
        inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m:
        inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l:
        inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 12px #00000015;
    --shadow-top:
        inset 0 1px 2px #ffffff70, 0 1px 2px #00000030, 0 2px 4px #00000015, 0 0px 4px #00000015;
    --shadow-inset-s:
        inset 0 1px 2px #ffffff30, inset 0 1px 2px #00000030, inset 0 2px 4px #00000015;
    --shadow-inset-m:
        inset 0 1px 2px #ffffff50, inset 0 2px 4px #00000030, inset 0 4px 8px #00000015;
    --shadow-inset-l:
        inset 0 1px 2px #ffffff70, inset 0 4px 6px #00000030, inset 0 6px 12px #00000015;
}

:root {
    --muted: oklch(0.45 0 0);
    --main: oklch(75.014% 0.19453 133.996);
}

body {
    color: #000000;
}

.card {
    background-color: var(--color-white);
    border-radius: var(--radius-xl);
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
    box-shadow: var(--shadow-m);
    border: solid 1px var(--color-neutral-200);
    border-top: 1px solid var(--color-neutral-100);
}

.card-border {
    box-shadow: var(--shadow-m);
    border: solid 1px var(--color-neutral-200);
    border-top: 1px solid var(--color-neutral-50);
}

h1 {
    @apply text-3xl font-bold;
}